.itemcounter {
    display: flex;
    margin-bottom: 1rem;
    justify-content: left;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 2rem;
}

.line-break {
    display: none!important;
}

.btn {
    border-color: #FF9906!important;
    color: #ffffff!important;
    background: #FF9906;
    font-weight: 600;
}

.quant {

    margin-bottom: 0;
}